#main {
  margin: auto;
  padding: 40px;
  text-align: center;
  width: 400px;
  height: 50px;
}

#main {
  margin: auto;
  padding: 40px;
  text-align: center;
  width: 400px;
  height: 1000px;
  overflow: scroll;
}
