.green {
  background-color: DarkSeaGreen;
}

.green {
  background-color: #8FBC8F
}

.light {
  background-color: Sienna;
}

.light {
  background-color: #A0522D;
}

.city {
  background-color: Saddlebrown;
}

.city {
  background-color: #8B4513;
}

.vienna {
  background-color: Brown;
}

.vienna {
  background-color: #A52A2A;
}

.italian {
  background-color: Black;
}

.italian {
  background-color: #000000;
}
