.green {
  background-color: #8FBC8F;
}

.green {
  background-color: rgb(143,188,143);
}

.light {
  background-color: #A0522D;
}

.light {
  background-color: rgb(160,82,45)
}

.city {
  background-color: #8B4513;
}

.city {
  background-color: rgb(139,69,19);
}
